{
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "no-nested-ternary": [0]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}