.DS_Store
node_modules
package-lock.json
npm-debug.log
yarn-error.log
*.sublime-workspace
docker-compose.override.yml

/dist

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
